.modal-body {
  font-size: 1em;
}

.btn-close-modal,
.btn-confirm-filters,
.btn-select {
  color: whitesmoke;
  background-color: #051040;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  outline: inherit;
  margin: 17px 0px;
}

.btn-close-modal:hover {
  background-color: red;
  border-radius: 8% 92% 10% 90% / 100% 10% 90% 0%;
  transition: ease-in-out 0.3s;
  box-shadow: 1px -2px 38px 8px rgba(94, 203, 161, 0.45);
  -webkit-box-shadow: 1px -2px 38px 8px rgba(94, 203, 161, 0.45);
  -moz-box-shadow: 1px -2px 38px 8px rgba(94, 203, 161, 0.45);
}

.btn-confirm-filters:hover {
  background-color: green;
  border-radius: 6% 94% 4% 96% / 100% 0% 100% 0%;
  transition: ease-in-out 0.5s;
  box-shadow: 1px -2px 38px 8px rgba(94, 203, 161, 0.45);
  -webkit-box-shadow: 1px -2px 38px 8px rgba(94, 203, 161, 0.45);
  -moz-box-shadow: 1px -2px 38px 8px rgba(94, 203, 161, 0.45);
}

input::placeholder {
  font-size: 0.9em;
  font-style: italic;
}

.btn-clear-filters {
  color: whitesmoke;
  background-color: #051040;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  outline: inherit;
  margin: 17px 0px;
}

.btn-clear-filters:hover {
  background-color: green;
  border-radius: 8% 92% 10% 90% / 100% 10% 90% 0%;
  transition: ease-in-out 0.3s;
  box-shadow: 1px -2px 38px 8px rgba(94, 203, 161, 0.45);
  -webkit-box-shadow: 1px -2px 38px 8px rgba(94, 203, 161, 0.45);
  -moz-box-shadow: 1px -2px 38px 8px rgba(94, 203, 161, 0.45);
}
