.modal-lojasvencendo h5 {
    text-align: center;
}

.proximo-vencimento {
    background-color: #f0e1e1;
}

.vencimento-critico {
    background-color: #f0bbbb;
}

/* Lojas vencendo em 15 dias */

.lojaLine {
    /* background-color: purple; */
    width: 100%;
    box-shadow: 1px -2px 20px -3px rgba(82,82,82,0.45);
    -webkit-box-shadow: 1px -2px 20px -3px rgba(82,82,82,0.45);
    -moz-box-shadow: 1px -2px 20px -3px rgba(82,82,82,0.45);
    border-radius: 6px;
    padding: 10px;
    transition: transform 0.3s ease-in-out, padding 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
    display: flex;
    justify-content: space-between;
    font-size: .9em;
  }
  
.lojaLine p {
    margin: 0;
    padding: 5px 0;
    word-break: break-word;
    text-align: left;
  } 

  .lojaLine:hover {
    /* padding: 20px; */
    transform: scale(1.01);
    cursor: pointer;
  }

  .lojaLineCnpj {
    width: 19%;
  }

  .lojaLineRazao {
    width: 80%;
  }